html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*HelveticaNeue*/
@font-face {
  font-family: "Helvetica-BdCn";
  src: url("../fonts/HelveticaNeueLTStd-BdCn.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-BlkCn";
  src: url("../fonts/HelveticaNeueLTStd-BlkCn.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-Cn";
  src: url("../fonts/HelveticaNeueLTStd-Cn.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-Lt";
  src: url("../fonts/HelveticaNeueLTStd-Lt.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-LtCn";
  src: url("../fonts/HelveticaNeueLTStd-LtCn.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-Th";
  src: url("../fonts/HelveticaNeueLTStd-Th.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-ThCn";
  src: url("../fonts/HelveticaNeueLTStd-ThCn.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica-UltLtCn";
  src: url("../fonts/HelveticaNeueLTStd-UltLtCn.otf") format("opentype");
}
/*Bello-Script*/
@font-face {
  font-family: "Bello";
  src: url("../fonts/Bello-Script_6557.ttf") format("truetype");
}
/*Helvetica*/
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/9202.otf") format("opentype");
}
/*AEmpirial*/
@font-face {
  font-family: "AEmp";
  src: url("../fonts/1987.ttf") format("truetype");
}
/*sprite*/
.icons-sprite, .icons-arrow-left1, .icons-arrow-left2, .icons-arrow-right1, .icons-arrow-right2, .icons-arrow-right3, .icons-icon-account, .icons-icon-bag, .icons-icon-bagBig, .icons-icon-brand1, .icons-icon-brand2, .icons-icon-brand3, .icons-icon-brand4, .icons-icon-brand5, .icons-icon-brand6, .icons-icon-brand7, .icons-icon-brand8, .icons-icon-copyright, .icons-icon-payCard1, .icons-icon-payCard10, .icons-icon-payCard11, .icons-icon-payCard2, .icons-icon-payCard3, .icons-icon-payCard4, .icons-icon-payCard5, .icons-icon-payCard6, .icons-icon-payCard7, .icons-icon-payCard8, .icons-icon-payCard9, .icons-icon-plus, .icons-icon-searchHeader, .icons-icon-socFb, .icons-icon-socFooter1, .icons-icon-socFooter2, .icons-icon-socFooter3, .icons-icon-socFooter4, .icons-icon-socFooter5, .icons-icon-socFooter6, .icons-icon-socPic, .icons-icon-socTwit {
  background-image: url('../images/icons-sb7ee566187.png');
  background-repeat: no-repeat;
}

.icons-arrow-left1 {
  background-position: 0 0;
}

.icons-arrow-left2 {
  background-position: 0 -45px;
}
.icons-arrow-left2:active, .icons-arrow-left2.arrow-left2-active {
  background-position: 0 -18px;
}

.icons-arrow-right1 {
  background-position: 0 -72px;
}

.icons-arrow-right2 {
  background-position: 0 -117px;
}
.icons-arrow-right2:active, .icons-arrow-right2.arrow-right2-active {
  background-position: 0 -90px;
}

.icons-arrow-right3 {
  background-position: 0 -144px;
}

.icons-icon-account {
  background-position: 0 -155px;
}

.icons-icon-bag {
  background-position: 0 -168px;
}

.icons-icon-bagBig {
  background-position: 0 -187px;
}

.icons-icon-brand1 {
  background-position: 0 -216px;
}

.icons-icon-brand2 {
  background-position: 0 -247px;
}

.icons-icon-brand3 {
  background-position: 0 -304px;
}

.icons-icon-brand4 {
  background-position: 0 -351px;
}

.icons-icon-brand5 {
  background-position: 0 -389px;
}

.icons-icon-brand6 {
  background-position: 0 -405px;
}

.icons-icon-brand7 {
  background-position: 0 -424px;
}

.icons-icon-brand8 {
  background-position: 0 -446px;
}

.icons-icon-copyright {
  background-position: 0 -473px;
}

.icons-icon-payCard1 {
  background-position: 0 -481px;
}

.icons-icon-payCard10 {
  background-position: 0 -503px;
}

.icons-icon-payCard11 {
  background-position: 0 -525px;
}

.icons-icon-payCard2 {
  background-position: 0 -547px;
}

.icons-icon-payCard3 {
  background-position: 0 -569px;
}

.icons-icon-payCard4 {
  background-position: 0 -591px;
}

.icons-icon-payCard5 {
  background-position: 0 -613px;
}

.icons-icon-payCard6 {
  background-position: 0 -635px;
}

.icons-icon-payCard7 {
  background-position: 0 -657px;
}

.icons-icon-payCard8 {
  background-position: 0 -679px;
}

.icons-icon-payCard9 {
  background-position: 0 -701px;
}

.icons-icon-plus {
  background-position: 0 -723px;
}

.icons-icon-searchHeader {
  background-position: 0 -734px;
}

.icons-icon-socFb {
  background-position: 0 -749px;
}

.icons-icon-socFooter1 {
  background-position: 0 -767px;
}

.icons-icon-socFooter2 {
  background-position: 0 -801px;
}

.icons-icon-socFooter3 {
  background-position: 0 -835px;
}

.icons-icon-socFooter4 {
  background-position: 0 -869px;
}

.icons-icon-socFooter5 {
  background-position: 0 -903px;
}

.icons-icon-socFooter6 {
  background-position: 0 -937px;
}

.icons-icon-socPic {
  background-position: 0 -971px;
}

.icons-icon-socTwit {
  background-position: 0 -992px;
}

.icons-icon-payCard1 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard2 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard3 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard4 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard5 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard6 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard7 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard8 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard9 {
  display: inline-block;
  position: relative;
  width: 34px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard10 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-payCard11 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 22px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter1 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter2 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter3 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter4 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter5 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFooter6 {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 34px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-account {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 13px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-searchHeader {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-bag {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 19px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socFb {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 18px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socTwit {
  display: inline-block;
  position: relative;
  width: 21px;
  height: 17px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

.icons-icon-socPic {
  display: inline-block;
  position: relative;
  width: 22px;
  height: 21px;
  vertical-align: top;
  display: -moz-inline-stack;
  zoom: 1;
  *display: inline;
}

body {
  font-family: Arial, sans-aerif;
  background: #ffffff;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

/*Header*/
header .top {
  background: #000;
}
header .top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 30px;
}
header .top .phone-numder {
  padding-top: 9px;
}
header .top .phone-numder p {
  padding-left: 14px;
}
header .top .page-top-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}
header .top p {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
}
header .top p span {
  font-size: 12px;
}
header .top .option-current {
  position: relative;
  border-left: 1px solid #444;
  padding: 0 31px 0 15px;
}
header .top .option-current p {
  line-height: 30px;
}
header .top .option-current p:hover {
  cursor: pointer;
  text-decoration: underline;
}
header .top .option-current:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 13px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #c1c1c1;
  box-sizing: border-box;
}
header .top a {
  text-decoration: none;
}
header .top .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #444;
  padding: 0 13px;
}
header .top .account i {
  padding-right: 10px;
}
header .top .account:hover p {
  text-decoration: underline;
}
header .top .search {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  padding: 0 10px;
}
header .top .search i {
  margin-top: 8px;
}
header .top .search:hover i {
  opacity: 0.8;
}
header .bottom {
  padding: 21px 0 19px 0;
}
header .bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .bottom .logo {
  padding: 6px 0 0 14px;
}
header .bottom .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 15px;
}
header .bottom nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .bottom nav ul li {
  position: relative;
  padding-right: 15px;
  margin: 0 10px 0 18px;
}
header .bottom nav ul li a {
  font-size: 16px;
  color: #000;
  text-decoration: none;
}
header .bottom nav ul li a:hover {
  text-decoration: underline;
}
header .bottom nav ul li:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 7px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  box-sizing: border-box;
}
header .bottom .user-tools {
  border: 1px solid #d6d6d6;
  width: 213px;
  height: 66px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 10px;
}
header .bottom .user-tools .option-cart {
  position: relative;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 7px 9px 7px;
}
header .bottom .user-tools .option-cart p {
  font-size: 12px;
  color: #949393;
  text-transform: uppercase;
  text-transform: none;
}
header .bottom .user-tools .option-cart p span {
  font-size: 12px;
}
header .bottom .user-tools .option-cart:after {
  content: '';
  position: absolute;
  right: 11px;
  top: 14px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid #c1c1c1;
  box-sizing: border-box;
}
header .bottom .user-tools .option-cart:hover {
  cursor: pointer;
}
header .bottom .user-tools .option-cart:hover p {
  text-decoration: underline;
}
header .bottom .user-tools .info-buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fafafa;
  padding: 7px 11px 6px 8px;
}
header .bottom .user-tools .info-buy div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2px;
}
header .bottom .user-tools .info-buy p {
  font-size: 11px;
  color: #949393;
  text-transform: uppercase;
  margin-left: 7px;
}
header .bottom .user-tools .info-buy p:first-child {
  border-right: 1px solid #949393;
  padding-right: 7px;
}
header .bottom .user-tools .info-buy:hover {
  cursor: pointer;
}
header .bottom .user-tools .info-buy:hover p {
  text-decoration: underline;
}

/*Slider-top*/
.wr-slider-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
}
.wr-slider-top .slide {
  background: url("../images/bg-slide.png") center no-repeat;
  background-size: cover;
  padding: 43px 0 81px 0;
}
.wr-slider-top .slide .slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 82px;
}
.wr-slider-top .slide .slide-content img {
  margin-bottom: 7px;
}
.wr-slider-top .slide .slide-content p {
  font-size: 36px;
  font-family: "Helvetica-LtCn";
  color: #78645d;
  text-transform: uppercase;
  padding-left: 14px;
  margin-bottom: 13px;
}
.wr-slider-top .slide .slide-content a {
  font-size: 16px;
  font-family: "Helvetica-Th";
  color: #fff;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  height: 57px;
  width: 155px;
  background: #fd926d;
  border-bottom: 3px solid #dd6b44;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 0 0 22px;
}
.wr-slider-top .slide .slide-content a:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 24px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
  box-sizing: border-box;
}
.wr-slider-top .slide .slide-content a:hover {
  background: #dd6b44;
}

/*contacts*/
.wr-contacts {
  font-size: 12px;
  color: #6b6b6b;
  background: #ededed;
  height: 55px;
  margin-bottom: 40px;
}
.wr-contacts .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
.wr-contacts .email-address {
  position: relative;
  padding: 14px 0 0 13px;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.wr-contacts .email-address label {
  font-size: 12px;
  margin-right: 5px;
}
.wr-contacts .email-address input {
  border: none;
  width: 160px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  padding: 6px 8px 7px 8px;
}
.wr-contacts .email-address ::-webkit-input-placeholder {
  font-style: Arial,sans-serif;
  font-style: italic;
  font-size: 12px;
}
.wr-contacts .email-address ::-moz-placeholder {
  font-style: Arial,sans-serif;
  font-style: italic;
  font-size: 12px;
}
.wr-contacts .email-address :-moz-placeholder {
  font-style: Arial,sans-serif;
  font-style: italic;
  font-size: 12px;
}
.wr-contacts .email-address :-ms-input-placeholder {
  font-style: Arial,sans-serif;
  font-style: italic;
  font-size: 12px;
}
.wr-contacts .email-address:after {
  content: url("../images/icons/icon-plus.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 14px;
  cursor: pointer;
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border-bottom: 3px solid #dd6b44;
  background: #fd926d;
  padding-top: 3px;
}
.wr-contacts .email-address:hover:after {
  background: #dd6b44;
}
.wr-contacts .find-inSocial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}
.wr-contacts .find-inSocial p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 14px;
}
.wr-contacts .find-inSocial ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wr-contacts .find-inSocial ul li {
  background: #ededed;
}
.wr-contacts .find-inSocial ul li:nth-child(2n+1) {
  background: #f7f7f7;
}
.wr-contacts .find-inSocial ul li:hover {
  background: #fd926d;
}
.wr-contacts .find-inSocial ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 55px;
  height: 100%;
}

/*banner*/
.wr-banner {
  max-height: 340px;
  margin-bottom: 98px;
}
.wr-banner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 970px;
}
.wr-banner .block1, .wr-banner .block2, .wr-banner .block5, .wr-banner .block6 {
  width: 50%;
}
.wr-banner .block1 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/bg-block1.png") center no-repeat;
  background-size: cover;
  padding: 68px 42px 74px 0;
  margin-right: 2px;
}
.wr-banner .block1:hover {
  opacity: 0.8;
}
.wr-banner .block1 .p1-1 {
  font-family: "Helvetica-BlkCn";
  font-size: 34px;
  color: #414141;
  line-height: 28px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block1 .p1-2 {
  font-family: "Helvetica-ThCn";
  font-size: 75px;
  color: #414141;
  line-height: 71px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block1 .p1-3 {
  font-family: "Helvetica-BlkCn";
  font-size: 82px;
  color: #4fafa0;
  line-height: 63px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block1 img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wr-banner .block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wr-banner .block4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.wr-banner .block3 {
  cursor: pointer;
  background: url("../images/bg-block2.png") center no-repeat;
  background-size: cover;
  padding: 16px 0 18px 29px;
  margin-bottom: 2px;
}
.wr-banner .block3:hover {
  opacity: 0.8;
}
.wr-banner .block3 div {
  width: 131px;
  height: 135px;
  background: url("../images/bg-small-block2.png") center no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 23px 0 0 0;
}
.wr-banner .block3 .p3-1 {
  font-family: "Bello";
  font-size: 22px;
  color: #ffa687;
  line-height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block3 .p3-2 {
  font-family: "Helvetica-UltLtCn";
  font-size: 41px;
  color: #c1aea8;
  line-height: 36px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block3 .p3-3 {
  font-family: "Helvetica-BdCn";
  font-size: 14px;
  color: #6a6a6a;
  line-height: 21px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-banner .block5 {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../images/bg-block3.png") center no-repeat;
  background-size: cover;
  padding: 0 0 11px 27px;
  margin-right: 2px;
}
.wr-banner .block5:hover {
  opacity: 0.8;
}
.wr-banner .block5 a {
  font-size: 33px;
  color: #fff;
  font-family: "Helvetica-UltLtCn";
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.19);
  position: relative;
}
.wr-banner .block5 a:after {
  content: url("../images/icons/arrow-right3.png");
  position: absolute;
  right: -19px;
  top: -6px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 6px;
  height: 11px;
  box-sizing: border-box;
}
.wr-banner .block6 {
  cursor: pointer;
  background: url("../images/bg-block4.png") center no-repeat;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 44px 0 0 4px;
}
.wr-banner .block6:hover {
  opacity: 0.8;
}
.wr-banner .block6 p {
  font-family: "Helvetica-Cn";
  font-size: 36px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 31px;
  padding-right: 90px;
  margin-bottom: 16px;
}
.wr-banner .block6 a {
  font-size: 12px;
  color: #fff;
  font-family: "Helvetica-Lt";
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  position: relative;
  width: 98px;
  height: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #4fafa0;
  padding: 8px 0 0px 8px;
  margin-left: 26px;
}
.wr-banner .block6 a:after {
  content: '';
  position: absolute;
  right: 11px;
  top: 10px;
  z-index: 1;
  text-align: center;
  pointer-events: none;
  width: 0px;
  height: 0px;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #fff;
  box-sizing: border-box;
}

/*Slider-bottom*/
.wr-slider-bottom {
  background: #fd926d;
  margin-bottom: 24px;
}
.wr-slider-bottom .container {
  position: relative;
}
.wr-slider-bottom .slide-btn {
  position: absolute;
  top: -47px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}
.wr-slider-bottom .slide-btn .left-btn, .wr-slider-bottom .slide-btn .right-btn {
  width: 47px;
  height: 47px;
  background: #f2f2f2;
  position: relative;
}
.wr-slider-bottom .slide-btn .left-btn:after, .wr-slider-bottom .slide-btn .right-btn:after {
  position: absolute;
  top: 12px;
  cursor: pointer;
  width: 14px;
  height: 27px;
}
.wr-slider-bottom .slide-btn .left-btn:after {
  content: url(../images/icons/arrow-left2.png);
  left: 15px;
}
.wr-slider-bottom .slide-btn .left-btn:hover {
  background: #fd926d;
}
.wr-slider-bottom .slide-btn .left-btn:hover:after {
  content: url(../images/icons/arrow-left2-active.PNG);
}
.wr-slider-bottom .slide-btn .right-btn:after {
  content: url(../images/icons/arrow-right2.png);
  right: 15px;
}
.wr-slider-bottom .slide-btn .right-btn:hover {
  background: #fd926d;
}
.wr-slider-bottom .slide-btn .right-btn:hover:after {
  content: url(../images/icons/arrow-right2-active.png);
}
.wr-slider-bottom .tabs-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -30px;
  left: 15px;
}
.wr-slider-bottom .tabs-menu li a {
  font-size: 15px;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 17px 14px 21px;
}
.wr-slider-bottom .tabs-menu .current a {
  color: #fff;
  background: #fd926d;
}
.wr-slider-bottom .tab {
  padding: 30px 0;
}
.wr-slider-bottom .tab-content {
  display: none;
}
.wr-slider-bottom .tab-content .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-slider-bottom .tab-content .slides .box-block {
  font-size: 12px;
  color: #373737;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  position: relative;
  width: 220px;
  background: #fff;
  margin: 0 15px;
}
.wr-slider-bottom .tab-content .slides .box-block:hover {
  -webkit-transform: scale(1.1, 1.05);
  transform: scale(1.1, 1.05);
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
}
.wr-slider-bottom .tab-content .slides .box-block:hover .popap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wr-slider-bottom .tab-content .slides .box-block:hover .popap-btn img {
  width: 27px;
}
.wr-slider-bottom .tab-content .slides .box-block .popap-btn {
  display: none;
  width: 123px;
  height: 128px;
  background: #3d3d3d;
  position: absolute;
  top: 93px;
  border-radius: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-slider-bottom .tab-content .slides .box-block .popap-btn img {
  width: auto;
  padding-bottom: 8px;
  margin: 0;
}
.wr-slider-bottom .tab-content .slides .box-block .popap-btn p {
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}
.wr-slider-bottom .tab-content .slides .box-block .block-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid #fff;
  border-left: 50px solid #4c4c4c;
}
.wr-slider-bottom .tab-content .slides .box-block .block-square p {
  font-family: "Helvetica";
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: -45px;
}
.wr-slider-bottom .tab-content .slides .box-block img {
  width: 100%;
  max-height: 290px;
  margin-bottom: 19px;
}
.wr-slider-bottom .tab-content .slides .box-block p {
  margin-bottom: 9px;
}
.wr-slider-bottom .tab-content .slides .box-block .price {
  font-size: 22px;
  margin-bottom: 8px;
}
.wr-slider-bottom .tab-content .slides .box-block .btn {
  color: #fff;
  position: relative;
  width: 120px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fd926d;
  border-bottom: 3px solid #dd6b44;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 3px;
  margin-bottom: 11px;
}
.wr-slider-bottom .tab-content .slides .box-block .btn:after {
  content: url(../images/icons/icon-plus.png);
  position: absolute;
  right: -5px;
  top: 10px;
  cursor: pointer;
  width: 28px;
  height: 28px;
}
.wr-slider-bottom #tab-1 {
  display: block;
}

/*stock*/
.wr-stock {
  margin-bottom: 60px;
}
.wr-stock .stock-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 25px;
}
.wr-stock .stock-label .line {
  width: 100%;
  height: 1px;
  background: #b2b2b2;
}
.wr-stock .stock-label .label-info {
  font-family: "AEmp";
  color: #fff;
  text-transform: uppercase;
  width: 157px;
  height: 157px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: url("../images/bg-label.png") center no-repeat;
  background-size: cover;
  margin: 0 16px;
}
.wr-stock .stock-label .label-info p:first-child {
  font-size: 37px;
  line-height: 27px;
  padding-top: 18px;
}
.wr-stock .stock-label .label-info p:last-child {
  font-size: 82px;
  position: relative;
  padding-right: 18px;
}
.wr-stock .stock-label .label-info p:last-child:after {
  content: "%";
  font-size: 36px;
  position: absolute;
  right: 2px;
  top: 5px;
}
.wr-stock .stock-label .label-info p:last-child:before {
  content: 'off';
  font-size: 36px;
  position: absolute;
  bottom: 8px;
  right: -4px;
}
.wr-stock .slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-stock .slides .box-block {
  font-size: 12px;
  color: #373737;
  text-decoration: none;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  width: 220px;
  background: #f7f7f7;
  margin: 0 15px;
}
.wr-stock .slides .box-block:hover {
  -webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
}
.wr-stock .slides .box-block .block-square {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid #fff;
  border-left: 50px solid #4c4c4c;
}
.wr-stock .slides .box-block .block-square p {
  font-family: "Helvetica";
  font-size: 10px;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: -45px;
}
.wr-stock .slides .box-block img {
  width: 100%;
  max-height: 290px;
  margin-bottom: 11px;
}
.wr-stock .slides .box-block p {
  margin-bottom: 9px;
}
.wr-stock .slides .box-block .price {
  font-size: 22px;
  margin-bottom: 8px;
}
.wr-stock .slides .box-block .btn {
  color: #fff;
  position: relative;
  width: 120px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fd926d;
  border-bottom: 3px solid #dd6b44;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 8px;
  padding-top: 3px;
  margin-bottom: 11px;
}
.wr-stock .slides .box-block .btn:after {
  content: url(../images/icons/icon-plus.png);
  position: absolute;
  right: -5px;
  top: 10px;
  cursor: pointer;
  width: 28px;
  height: 28px;
}

/*brands*/
.wr-brands {
  border-bottom: 1px solid #b2b2b2;
  padding-bottom: 18px;
  margin-bottom: 27px;
}
.wr-brands .caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 15px;
}
.wr-brands .caption h2 {
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 0 18px;
}
.wr-brands .caption .line {
  width: 100%;
  height: 1px;
  background: #b2b2b2;
}
.wr-brands ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 9px;
}

/*about shop*/
.wr-shop-info {
  text-align: center;
  margin-bottom: 27px;
}
.wr-shop-info .container {
  padding: 0 15px;
}
.wr-shop-info h3 {
  font-size: 24px;
  color: #414141;
  margin-bottom: 11px;
}
.wr-shop-info p {
  font-size: 14px;
  color: #999999;
  line-height: 18px;
  letter-spacing: 0.1px;
  padding: 0 1px 0 0px;
}

/*pay cards*/
.wr-pay-cards {
  background: #f7f7f7;
  padding: 19px 0 17px 0;
}
.wr-pay-cards .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wr-pay-cards h4 {
  font-size: 12px;
  color: #414141;
  opacity: 0.5;
  margin-right: 10px;
}
.wr-pay-cards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.wr-pay-cards ul li {
  margin: 0 5px;
}
