@import 'compass';
@import 'compass/reset';
@import 'settings';
@import 'header'; 
@import 'footer';  
  
/*Slider-top*/
.wr-slider-top {
	.container {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
        flex-direction: column;
	    -webkit-box-align: left;
	    -ms-flex-align: left;
        align-items: left;
	}
	.slide {
		background: url('../images/bg-slide.png') center no-repeat;
		background-size: cover;
		padding: 43px 0 81px 0;
		.slide-content {
	        display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: column;
            flex-direction: column;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
            align-items: center;
            padding-left: 82px;
			img {margin-bottom: 7px;}
			p {
				font-size: 36px;
				font-family: "Helvetica-LtCn";
				color: #78645d;
				text-transform: uppercase;
			    padding-left: 14px;
			    margin-bottom: 13px;
			}
			a {
				font-size: 16px;
				font-family: "Helvetica-Th";
				color: #fff;
				position: relative;
				text-decoration: none;
				text-transform: uppercase;				
			    height: 57px;
			    width: 155px;
			    background: #fd926d;
			    border-bottom: 3px solid #dd6b44;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    padding: 20px 0 0 22px;
				&:after {
				    content: '';
				    position: absolute;
				    right: 25px;
				    top: 24px;
				    z-index: 1;
				    text-align: center;
				    pointer-events: none;
				    width: 0px;
				    height: 0px;
				    border-top: 4px solid transparent;
				    border-bottom: 4px solid transparent;
				    border-left: 4px solid #fff;
				    box-sizing: border-box;
				}
				&:hover {background: #dd6b44;}
			}
		}
		
	}
}

/*contacts*/
.wr-contacts {
	font-size: 12px;
	color:#6b6b6b;
	background: #ededed;
	height: 55px;
    margin-bottom: 40px;
	.container {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
        justify-content: space-between;
	    height: 100%;
	}
	.email-address {
		position: relative;
		padding: 14px 0 0 13px;
		label {
			font-size: 12px;
		    margin-right: 5px;
		}
		input {
			border: none;
		    width: 160px;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		    background: #fff;
		    padding: 6px 8px 7px 8px;
		}
		::-webkit-input-placeholder {font-style: Arial,sans-serif; font-style: italic; font-size: 12px;}
		::-moz-placeholder          {font-style: Arial,sans-serif; font-style: italic; font-size: 12px;}/* Firefox 19+ */
		:-moz-placeholder           {font-style: Arial,sans-serif; font-style: italic; font-size: 12px;}/* Firefox 18- */
		:-ms-input-placeholder      {font-style: Arial,sans-serif; font-style: italic; font-size: 12px;}
		&:after {
			content: url('../images/icons/icon-plus.png');
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
            align-items: center;			
		    position: absolute;
		    right: 0;
		    top: 14px;
		    cursor: pointer;
		    width: 28px;
		    height: 28px;
		    box-sizing: border-box;
		    border-bottom: 3px solid #dd6b44;
		    background: #fd926d;
	        padding-top: 3px;
		}
		&:hover {
			&:after {background: #dd6b44;}
		}
	}
	.find-inSocial {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
        padding-right: 15px;
		p {
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
		    justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
		    align-items: center;
	        margin-right: 14px;
		}
		ul {
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
			li {				
				background: #ededed;
				&:nth-child(2n+1) {background: #f7f7f7;}
				&:hover {background: #fd926d;}
				a {
					display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
				    justify-content: center;
				    -webkit-box-align: center;
				    -ms-flex-align: center;
				    align-items: center;
					width: 55px;
				    height: 100%;
				}
			}
		}
	}
}

/*banner*/
.wr-banner {
    max-height: 340px;
    margin-bottom: 98px;
	.container {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    width: 970px;
	}
	.block1, .block2, .block5, .block6 {width: 50%;}
	.block1 {
		cursor: pointer;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
        flex-direction: column;
	    -webkit-box-align: end;
	    -ms-flex-align: end;
        align-items: flex-end;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
		background: url('../images/bg-block1.png') center no-repeat;
		background-size: cover;
		padding: 68px 42px 74px 0;
	    margin-right: 2px;
	     &:hover {
	    	opacity: 0.8;
	    }
		.p1-1 {
			font-family: "Helvetica-BlkCn";
			font-size: 34px; 
			color: #414141;
		    line-height: 28px;
			text-transform: uppercase;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
		.p1-2 {
			font-family: "Helvetica-ThCn";
		    font-size: 75px;
			color: #414141;
			line-height: 71px;
			text-transform: uppercase;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
		.p1-3 {
			font-family: "Helvetica-BlkCn";
			font-size: 82px; 
			color: #4fafa0;
	        line-height: 63px;
			text-transform: uppercase;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
		img {
			position: relative;
		    left: 50%;
		    -webkit-transform: translateX(-50%);
		    transform: translateX(-50%);
		}
	}
	.block2 {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: column;
        flex-direction: column;
	}
	.block4 {
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 100%;
	}
	.block3 {
		cursor: pointer;
		background: url('../images/bg-block2.png') center no-repeat;
		background-size: cover;
	    padding: 16px 0 18px 29px;
	    margin-bottom: 2px;
	     &:hover {
	    	opacity: 0.8;
	    }
		div {
			width: 131px;
			height: 135px;
			background: url('../images/bg-small-block2.png') center no-repeat;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			padding: 23px 0 0 0;		    
		}
		.p3-1 {
			font-family: "Bello";
			font-size: 22px; 
			color: #ffa687;
		    line-height: 28px;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
		.p3-2 {
			font-family: "Helvetica-UltLtCn";
		    font-size: 41px;
			color: #c1aea8;
			line-height: 36px;
			text-transform: uppercase;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
		.p3-3 {
			font-family: "Helvetica-BdCn";
			font-size: 14px; 
			color: #6a6a6a;
	        line-height: 21px;
			text-transform: uppercase;
			display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
            justify-content: center;
		}
	}
	.block5 {
		cursor: pointer;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: end;
	    -ms-flex-align: end;
        align-items: flex-end;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    background: url('../images/bg-block3.png') center no-repeat;
		background-size: cover;
	    padding: 0 0 11px 27px;
	    margin-right: 2px;
	     &:hover {
	    	opacity: 0.8;
	    }
		a {
			font-size: 33px;
			color: #fff;
			font-family: "Helvetica-UltLtCn";
			text-decoration: none;
			text-transform: uppercase;
		    text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.19);
		    position: relative;
		    &:after {
		    	content: url('../images/icons/arrow-right3.png');
			    position: absolute;
			    right: -19px;
			    top: -6px;
			    z-index: 1;
			    text-align: center;
			    pointer-events: none;
			    width: 6px;
			    height: 11px;
			    box-sizing: border-box;
		    }
		}
	}
	.block6 {
		cursor: pointer;
		background: url('../images/bg-block4.png') center no-repeat;
		background-size: cover;	
		-webkit-box-sizing: border-box;
	    box-sizing: border-box;
	    padding: 44px 0 0 4px;
	    &:hover {
	    	opacity: 0.8;
	    }
		p {
			font-family: "Helvetica-Cn";
			font-size: 36px;
			color: #fff;
			text-transform: uppercase;
		    text-align: center;
		    line-height: 31px;
		    padding-right: 90px;
	        margin-bottom: 16px;
		}
		a {
			font-size: 12px;
			color: #fff;
			font-family: "Helvetica-Lt";
			text-decoration: none;
			text-transform: uppercase;
			display: block;
			position: relative;
			width: 98px;
		    height: 30px;
		    -webkit-box-sizing: border-box;
			box-sizing: border-box;
		    background: #4fafa0;    
		    padding: 8px 0 0px 8px;
		    margin-left: 26px;
		    &:after {
		    	content: '';
			    position: absolute;
			    right: 11px;
			    top: 10px;
			    z-index: 1;
			    text-align: center;
			    pointer-events: none;
			    width: 0px;
			    height: 0px;
			    border-top: 4px solid transparent;
			    border-bottom: 4px solid transparent;
			    border-left: 4px solid #fff;
			    box-sizing: border-box;
		    }    
		}
	}
}

/*Slider-bottom*/
.wr-slider-bottom {
    background: #fd926d;
    margin-bottom: 24px;
	.container {position: relative;}
	.slide-btn {
		position: absolute;
		top: -47px;
		right: 0;	
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;	
	    padding-right: 15px;
		.left-btn, .right-btn {
			width: 47px;
			height: 47px;
			background: #f2f2f2;
			position: relative;
			&:after {
			    position: absolute;
			    top: 12px;
			    cursor: pointer;
			    width: 14px;
			    height: 27px;
			}
		}
		.left-btn {
			&:after {
				content: url(../images/icons/arrow-left2.png);
			    left: 15px;
			}
			&:hover {
				background: #fd926d;
				&:after {
					content: url(../images/icons/arrow-left2-active.PNG);
				}
			}
		}
		.right-btn {
			&:after {
				content: url(../images/icons/arrow-right2.png);
			    right: 15px;
			}
			&:hover {
				background: #fd926d;
				&:after {
					content: url(../images/icons/arrow-right2-active.png); 
				}
			}
		}
	}
	.tabs-menu {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    position: absolute; 
	    top: -30px;
	    left: 15px;
		li {				
			a {
				font-size: 15px;
				color: #000;
				text-decoration: none;
				text-transform: uppercase;
				padding: 17px 17px 14px 21px;					
			}
		}
		.current {
			a {
				color: #fff;
				background: #fd926d;
			}
		}
	}
	.tab {
		padding: 30px 0;
	}
	.tab-content { 
	    display: none;
        .slides {
        	display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
        	-webkit-box-pack: center;    
		    -ms-flex-pack: center;    
		    justify-content: center;
        	.box-block {
	        	font-size: 12px;
	        	color: #373737;
	        	text-decoration: none;
	        	text-transform: uppercase;
	        	cursor: pointer;
	        	display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-orient: vertical;
			    -webkit-box-direction: normal;
			    -ms-flex-direction: column;
	            flex-direction: column;
			    -webkit-box-align: center;
			    -ms-flex-align: center;
	            align-items: center;
	            -ms-flex-negative: 0;
	            flex-shrink: 0;
	            position: relative;
	            width: 220px;
	            background: #fff;
	            margin: 0 15px;
	            &:hover {
	            	-webkit-transform: scale(1.1, 1.05);     
	            	transform: scale(1.1, 1.05);
	            	-webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
					-moz-box-shadow:    0px 5px 18px 0px rgba(0, 0, 0, 0.35);
					box-shadow:         0px 5px 18px 0px rgba(0, 0, 0, 0.35);
					.popap-btn {
						display: -webkit-box;
					    display: -ms-flexbox;
					    display: flex;
					    img {width: 27px;}
					}	
				}
	            .popap-btn {
	            	display: none;
	            	width: 123px;
	            	height: 128px;
	            	background: #3d3d3d;
            	    position: absolute;
            	    top: 93px;
				    border-radius: 50%;				    
				    -webkit-box-orient: vertical;
				    -webkit-box-direction: normal;
				    -ms-flex-direction: column;
		            flex-direction: column;
				    -webkit-box-align: center;
				    -ms-flex-align: center;
		            align-items: center;
				    -webkit-box-pack: center;
				    -ms-flex-pack: center;
		            justify-content: center;
	            	img {
	            		width: auto;
					    padding-bottom: 8px;
					    margin: 0;
	            	}
	            	p {
	            		font-size: 10px;
	            		color: #fff;
	            		text-transform: uppercase;
	            		margin: 0;
	            	}
	            }
	            .block-square {
	            	position: absolute;
	            	top: 0;
	            	left:0;
	            	width: 0;
	            	height: 0;
	            	border-bottom: 50px solid #fff;
	            	border-left: 50px solid #4c4c4c;
	            	p {
	            		font-family: "Helvetica";
	            		font-size: 10px;
	            		color: #fff;
	            		text-transform: uppercase;
	            		position: absolute;
            		    top: 5px;
					    left: -45px;					    
	            	}
	            }
	        	img {
	        		width: 100%;
	        		max-height: 290px;
	    		    margin-bottom: 19px;
	        	}
	        	p {margin-bottom: 9px;}
	        	.price {
	        		font-size: 22px;
	        		margin-bottom: 8px;
	        	}
	        	.btn {
	        		color: #fff;
	        		position: relative;
	    		    width: 120px;
				    height: 32px;
				    display: -webkit-box;
				    display: -ms-flexbox;
				    display: flex;
				    -webkit-box-align: center;
				    -ms-flex-align: center;
		            align-items: center;
				    background: #fd926d;
				    border-bottom: 3px solid #dd6b44;
				    -webkit-box-sizing: border-box;
				    box-sizing: border-box;
				    padding-left: 8px;
				    padding-top: 3px;
				    margin-bottom: 11px;
	        		&:after {
					    content: url(../images/icons/icon-plus.png);
					    position: absolute;
				        right: -5px;
					    top: 10px;
					    cursor: pointer;
					    width: 28px;
					    height: 28px;
	        		}
	        	}
	        }
        }
	}
	#tab-1 {
		display: block; 
	}
}

/*stock*/
.wr-stock {
    margin-bottom: 60px;
	.stock-label {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
        align-items: center;
        margin-bottom: 25px;
		.line {
			width: 100%;
			height: 1px;
		    background:#b2b2b2;
	     }
		.label-info {
			font-family: "AEmp";
			color: #fff;
			text-transform: uppercase;
			width: 157px;
			height: 157px;
	        display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-pack: center;
		    -ms-flex-pack: center;
	        justify-content: center;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
	        align-items: center;   
	        -webkit-box-orient: vertical;       
	        -webkit-box-direction: normal;       
	        -ms-flex-direction: column;       
	        flex-direction: column; 
	        -ms-flex-negative: 0;      
	        flex-shrink: 0;
			background: url('../images/bg-label.png') center no-repeat;
			background-size: cover;
			margin: 0 16px;
			p {
				&:first-child {
					font-size: 37px;
					line-height: 27px;
					padding-top: 18px;			    
				}
				&:last-child {
				    font-size: 82px;
				    position: relative;
				    padding-right: 18px;
					&:after {
						content: "%";
					    font-size: 36px;
					    position: absolute;
					    right: 2px;
					    top: 5px;
					}
					&:before {
						content: 'off';
					    font-size: 36px;
					    position: absolute;
					    bottom: 8px;
					    right: -4px;
					}
				}
			}
		}
	}
	.slides {
    	display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
    	-webkit-box-pack: center;    
	    -ms-flex-pack: center;    
	    justify-content: center;
    	.box-block {
        	font-size: 12px;
        	color: #373737;
        	text-decoration: none;
        	text-transform: uppercase;
        	display: -webkit-box;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-box-orient: vertical;
		    -webkit-box-direction: normal;
		    -ms-flex-direction: column;
            flex-direction: column;
		    -webkit-box-align: center;
		    -ms-flex-align: center;
            align-items: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            cursor: pointer;
            position: relative;
            width: 220px;
            background: #f7f7f7;
            margin: 0 15px;
            &:hover {
            	-webkit-box-shadow: 0px 5px 18px 0px rgba(0, 0, 0, 0.35);
				-moz-box-shadow:    0px 5px 18px 0px rgba(0, 0, 0, 0.35);
				box-shadow:         0px 5px 18px 0px rgba(0, 0, 0, 0.35);
			}
            .block-square {
            	position: absolute;
            	top: 0;
            	left:0;
            	width: 0;
            	height: 0;
            	border-bottom: 50px solid #fff;
            	border-left: 50px solid #4c4c4c;
            	p {
            		font-family: "Helvetica";
            		font-size: 10px;
            		color: #fff;
            		text-transform: uppercase;
            		position: absolute;
        		    top: 5px;
				    left: -45px;					    
            	}
            }
        	img {
        		width: 100%;
        		max-height: 290px;
    		    margin-bottom: 11px;
        	}
        	p {margin-bottom: 9px;}
        	.price {
        		font-size: 22px;
        		margin-bottom: 8px;
        	}
        	.btn {
        		color: #fff;
        		position: relative;
    		    width: 120px;
			    height: 32px;
			    display: -webkit-box;
			    display: -ms-flexbox;
			    display: flex;
			    -webkit-box-align: center;
			    -ms-flex-align: center;
	            align-items: center;
			    background: #fd926d;
			    border-bottom: 3px solid #dd6b44;
			    -webkit-box-sizing: border-box;
			    box-sizing: border-box;
			    padding-left: 8px;
			    padding-top: 3px;
			    margin-bottom: 11px;
        		&:after {
				    content: url(../images/icons/icon-plus.png);
				    position: absolute;
			        right: -5px;
				    top: 10px;
				    cursor: pointer;
				    width: 28px;
				    height: 28px;
        		}
        	}
        }
    }
}

/*brands*/
.wr-brands {
	border-bottom: 1px solid #b2b2b2;
    padding-bottom: 18px;
    margin-bottom: 27px;
	.caption {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
        align-items: center;
        margin-bottom:15px;
		h2 {
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			-ms-flex-negative: 0;      
	        flex-shrink: 0;
            margin: 0 18px;
		}
		.line {
			width: 100%;
			height: 1px;
		    background:#b2b2b2;
		}
	}
	ul {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -ms-flex-pack: justify;
        justify-content: space-between;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
        align-items: center;
	    margin: 0 9px;
	}
}

/*about shop*/
.wr-shop-info {
    text-align: center;
    margin-bottom: 27px;
    .container {padding: 0 15px;}
	h3 {
		font-size: 24px;
		color: #414141;
	    margin-bottom: 11px;
	}
	p {
		font-size: 14px;
		color: #999999;
		line-height: 18px;
	    letter-spacing: 0.1px;
	    padding: 0 1px 0 0px;
	}
}

/*pay cards*/
.wr-pay-cards {
	background: #f7f7f7;
	padding: 19px 0 17px 0;
	.container {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;     
        -ms-flex-pack: center;     
        justify-content: center;
	}
	h4 {
		font-size: 12px;
		color: #414141;
		opacity: 0.5;
		margin-right: 10px;
	}
	ul {
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    li {margin: 0 5px;}
	}

}